.App {
  text-align: center;
}
.card-text{
  font-family: 'Neuton';
  font-size:large;
}
.card a{
  font-weight: bold;
}
nav{
  font-family:cursive;
  position:fixed;
}
.navbar-brand{
  font-weight: bolder;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card{
  transition: transform .3s;
}
.card:hover{
  transform: scale(1.1);
}
.btn{
  transition: transform .3s;
}
.btn:hover{
  transform: scale(1.1);
  background-color: rgb(14, 113, 14);
  border-color:rgb(14, 113, 14) ;
}

.row{
  padding:0  90px;
}
.news-container h2{
 margin-top: 100px;
 margin-bottom: 25px;
  font-family:cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 600px)  {
  .row{
    padding:0 15px;
  }
}
